.team-div {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.team-div-content {
	width: 860px;
}

.team-top-div {
	width: 860px;
	height: 160px;
	background-size: 100%;
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.team-infor {
	display: flex;
}

.team-infor img {
	height: 120px;
	width: 120px;
	border-radius: 120px;
}

.team-infor p {
	color: #fff;
	font-size: 20px;
	line-height: 120px;
	margin-left: 20px;
}

.team-infor div {
	width: 110px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background-color: #3db8a8;
	font-size: 16px;
	margin-left: 14px;
	margin-top: 45px;
	cursor: pointer;
}

.fans-box {
	color: #fff;
	margin-top: 20px;
	text-align: center;
}

.fans-num {
	font-size: 24px;
	line-height: 40px;
}

.fans-name {
	font-size: 16px;
	line-height: 34px;
}

.team-content {
	margin-top: 20px;
	background-color: #fff;
	box-shadow: 0 0 4px #a3a8b2;
}

.team-option-div {
	display: flex;
	height: 84px;
	line-height: 84px;
	border-bottom: 1px solid #ccc;
}

.team-option {
	width: 50%;
	text-align: center;
	font-size: 24px;
	color: #989898;
	position: relative;
	cursor: pointer;
}

.team-slection {
	color: #3DB8A8 !important;
}

.option-border {
	position: absolute;
	width: 24px;
	height: 84px;
	border-bottom: 4px solid #3db8a8;
	top: 0;
	left: calc(50% - 12px);
}

.partner-list-div {
	padding: 0 20px;
}

.partner-div {
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #ccc;
}

.partner-infor-div {
	display: flex;
}

.partner-avatar {
	width: 150px;
	height: 150px;
	border-radius: 150px;
}

.partner-infor {
	margin-left: 20px;
	padding: 20px 0;
}

.partner-name {
	font-size: 20px;
	color: #000;
}

.partner-role {
	font-size: 18px;
	color: #989898;
}

.partner-manner {
	font-size: 16px;
	color: #000;
	margin-top: 20px;
}

.partner-exp {
	font-size: 16px;
	color: #000;
	margin-top: 14px;
}

.partner-follow {
	width: 110px;
	height: 30px;
	line-height: 30px;
	background-color: #3db8a8;
	text-align: center;
	font-size: 16px;
	color: #fff;
	border-radius: 2px;
	margin-top: 60px;
	cursor: pointer;
}
.team-story-div{
	line-height: 24px;
	font-size: 15px;
	padding: 20px;
}
.partner-unfollow{
	    width: 110px;
    height: 30px;
    line-height: 30px;
    background-color: #989898;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border-radius: 2px;
    margin-top: 60px;
    cursor: pointer;
}
.team-story-div *{
	max-width: 100% !important;
	height: auto !important;
}